body {
    background-color: grey;
    font-family: 'Kodchasan', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.9em;
}
.all_content {
    margin: 0px 10% 0px 10%;
    }

.main_nav {
    background-color: burlywood;
    display: inline-block;
    width: 100%;
   
}
.main_nav h1 {
    float: left;
    margin-left:20px;
    
}
.main_nav ul {
    float: right;
    margin-right: 20px;
}
.main_nav ul li h4{
    color:green;
    font-weight: bold;
    text-decoration: none;

}

.mostcontents {
    
    margin-top: 30px;
    
    padding: 5px;
    width: 100%;
    

}

.admin_menu{
    background-color: burlywood;
    width:20%;
    float: left;
    margin-right: 5%;
    
    
}

.admin_menu ul{
    width:80%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
   
}
.admin_menu ul li {
    list-style: none;
    padding:20px;
    width:auto;
}
.admin_menu ul li a {
   color:black;
   font-weight: bold;
}
.admin_menu ul li:hover {
    background-color: whitesmoke;
    color:burlywood;
}
.menue_item {
    text-decoration: none;
}

.admin_display {
    
    width: 75%;
    
    background-color:burlywood;
    float: right;
    margin-bottom: 20px;
    
    } 
.admin_display nav a {
    padding: 10px;

}
.admin_display nav {
    line-height: 40px;
}

.display_title {
    text-align:center;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.table_display {
    width:100%;
    background-color: green;
    border-collapse: collapse;
    text-align:center;
    line-height: 50px;
   
}
.each_row {
    background-color:palegreen;
    text-align:center;
}
.every_row {
    background-color: whitesmoke;
    
}
.next_row {
    background-color:burlywood;
}

.edit_products {
    width:60%;
    float: right;
    
}
.edit_products input {
    height: 40px;
    padding: 10px;
    margin: 10px;
    background-color: palegreen;
    color: black;
}